@import "header.css";
@import "login.css";
@import "profile.css";
@import "footer.css";
@import "table.css";
@import "sidenav.css";

*,
*::before,
*::after  { box-sizing: inherit; }
*,*:before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: "Bahnschrift Light";
    background-color: rgb(242,242,242);
}
a {
    color: white;
    text-decoration: none
}

.column{
    display: flex;
    flex-direction: column;
}
.wrapper{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.wide-container{
    max-width: 1200px;
    height: 700px;
    background-image: url("../images/about.png");
    margin: 15px auto;
    padding: 0px 10px;
    margin-top: 15px;
    background-size: contain;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 10px;
}

.content{
    padding: 36px 0px 0px 0px;
}

.error{
    color: red;
}

.about{
    width: 70%;
    margin: 0 auto;
    font-size: 22px;
    line-height: 1.8;
    font-family: "Bahnschrift Light";
    padding-top: 200px;
}
.articles{
    display: flex;
    flex-direction: column;
}
.article{
    width: 900px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.article_title{
    font: 30px bold;
    color: black;
    display: inline-block;
}
.article_author, .article_date, .article_delete{
    color: gray;
    display: inline-block;
    margin-left: 20px;
}

.article_text {
    margin-top: 20px;
}
.article_rating{
    margin-left: auto;
    margin-right: 0;
    width: 45px;
    font-size: 25px;
}
.article_rating a {
    color: black;
    font-weight: bold;
}

.article_comment_author,.article_comment_date, .article_comment_delete{
    color: #000;
    display: inline-block;
    margin-left: 20px;
}

.article_comment_date {
    color: gray;
}

.articles{
    margin-top: 15px;
    margin-left: 60px;
}

.type-1 {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    height: 200px;
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
}
.type-1:hover {
    border: 1px solid #aaa;
}

.margin-top{
    margin-top: 50px;
}

.post_add{
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 200px;
}

.post_add form{
    width: 80%;
}

.post_add textarea{
    height: 400px;
}

.button_comment{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    background: #83a7c9;
    font-size: 12px;
    line-height: 40px;
    width: 120px;
    text-align: center;
    transition: .3s ease-in;
}
.button_comment:hover{
    color: black;
    background: #fc5a5a;
}

.db{
    display: block;
}


progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    border-radius: 8px;
    width: 400px;
    height: 25px;
    margin-top: 10px;


}

progress::-webkit-progress-bar {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    border-radius: 8px;
    width: 400px;
    height: 25px;
    background-color: #bdc1be;
}

progress::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
            rgba(255, 255, 255, 0.25),
            rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #389963, #73d48f);

    border-radius: 3px;
    background-size: 35px 25px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
}

progress[value]::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: white;
}

.button {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0 30px;
    margin: 0 auto;
    background: #83a7c9;
    font-size: 16px;
    line-height: 50px;
    width: 150px;
    text-align: center;
    transition: .3s ease-in;
}

.button:hover {
    color: black;
    background: #fc5a5a;
}

.second-button {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0 30px;
    margin: 0 auto;
    background: #83a7c9;
    font-size: 16px;
    line-height: 50px;
    width: 150px;
    text-align: center;
    transition: .3s ease-in;
}

.second-button:hover {
    color: black;
    background: #fc5a5a;
}

.field__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.field__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.field__file-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.field__file-fake {
    height: 50px;
    width: calc(100% - 130px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #c7c7c7;
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.field__file-button {
    width: 130px;
    height: 50px;
    background: #83a7c9;
    color: #fff;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.field__file-button:hover {
    color: black;
    background: #fc5a5a;
}
.result{
    margin-top: 15px;
    margin-bottom: 15px;
}

.preloader {
    /*position: fixed;*/
    height: 200px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: rgb(242,242,242);
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}